{

    "token" : NDM2ODQwNjkzNzcyNTgyOTEy.DbtXJQ.kxOsE9OG78l22wSaeyGRb_uJEeE //test server

	"token" : NDMxMTM2Mjg0NDc2NzAyNzIw.DaaWmQ.VOluL6qXp4TJc6kvQs_6Wcgbabs //vandalen token

	"token" : NDM2NjQwNDA3MTU0MTk2NDgx.DbqcmQ.2eDen6vv5ILS0Q1o1EOxLxJ5XgQ //Toxic Soul

    NDkyODMwNTM5MjcxODk3MDk5.DocM4g.Qq1xFuR9yPT_PSnlSpFAI8ZzWd8

    "yt_api_key": AIzaSyDYYYpENtHhanDjM1PJb1UuCQhhT9KrxLw

    "botchannel"    : "bot-eingabe",

    "defaultVolume" : 0.1,

    "passes"        : 1,

    "MaxQueue"      : 5,

    "BotName"       : "Kyoko",

    "Delete_Message": "100",

    "serverId"      : "1000",

    "songList_25"   : "false",
    
    "songList_50"   : "true",

    "prefix"        : "+",    
    "set_ping"      : "ping",
    "set_mega"      : "mega",
    "set_witz"      : "witz",
    "set_uhr"       : "uhr",
    "set_hilfe"     : "hilfe",
    "set_clean"     : "clean",
    "set_queue"     : "queue",
    "set_skip"      : "skip",
    "set_pause"     : "pause",
    "set_resume"    : "resume",
    "set_leave"     : "leave",
    "set_volume"    : "volume",
    "set_purge"     : "purge",
    "set_getsong"   : "getsong",
    "set_randomsong": "randomsong",    
    "set_songliste" : "songliste",
    "set_savesong"  : "savesong",
    "set_deletesong": "deletesong",
    "set_playsong"  : "playsong",
    "set_searchsong": "searchsong"
}

test server
"kickEmoji" : "450661466287112204",
"volumedownEmoji" : "450661466786365450",
"volumeupEmoji" : "450661466929102855",
"pauseEmoji" : "450661467008663555",
"skipEmoji" : "450661467654717441",
"playEmoji" : "450661467533082637",
"cleanEmoji" : "450661467533082624"

toxic soul
"kickEmoji" : "451699828100038656",
"volumedownEmoji" : "451699828628520960",
"volumeupEmoji" : "451699829299740672",
"pauseEmoji" : "451699829387689996",
"skipEmoji" : "451699829555593216",
"playEmoji" : "451699829622439936",
"cleanEmoji" : "451699830243196929"

